/********************************************
...::: Formatação Geral do site :::...
********************************************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #ffffff url(../img/fundo.png) repeat-x;
}

ul {
    list-style: none;
    margin: 0;
	padding: 0;
}

a:link a:visited{

}

/********************************************
...::: Cabeçalho do site :::...
********************************************/
#header {
    background: url(../img/detalhe-topo.png) no-repeat right top;
    height: 150px;
    padding: 25px;
}



/********************************************
...::: Formatação do menu :::...
********************************************/
#header ul{
    background: #b10333;
    float: left;
    margin-top: 30px;
}


/********************************************
...::: Formatação das caixas :::...
********************************************/



















/********************************************
...::: Formatação do Rodapé:::...
********************************************/
#footer {
    clear: both;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 45px;
    background-color: #294c71;;
}

.FooterIcon{
    margin: 10px;
    text-decoration: none;
}

#footer p{
    color: white;
}

#dcbianchi {
    color: red;
    text-decoration: underline;
}