/********************************************
...::: Cabeçalho do site :::...
********************************************/

/********************************************
...::: Formatação Geral do site :::...
********************************************/

/********************************************
...::: Formatação das caixas :::...
********************************************/

/********************************************
...::: Formatação do Rodapé:::...
********************************************/
#footer {
    clear: both;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 45px;
    background-color: #294c71;;
}

.FooterIcon{
    margin: 10px;
    text-decoration: none;
}

#footer p{
    color: white;
}

#dcbianchi {
    color: red;
    text-decoration: underline;
}