/********************************************
...::: Formatação Geral do site :::...
********************************************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #ffffff url(../img/fundo.png) repeat-x;
}

#container{
    width: 800px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
	padding: 0;
}

a:link a:visited{
    text-decoration: none;
}

h2 {
    color: #ffffff;
    font-size: 1em;
    background: #294c71;
    padding: 5px;
}

h3 {
    text-transform: uppercase;
	font-size: 0.8em;
	padding: 3px;
}

/********************************************
...::: Cabeçalho do site :::...
********************************************/
#header {
    background: url(../img/detalhe-topo.png) no-repeat right top;
    height: 150px;
    padding: 25px;
}

.logo {
    background: url(../img/logo.png) no-repeat;
    text-indent: -3000px;
    width: 152px;
    height: 66px;
}

/********************************************
...::: Formatação do menu de cabeçalho :::...
********************************************/
#header ul{
    background: #b10333;
    float: left;
    margin-top: 30px;
}

#header ul li{
    float: left;
}

#header ul a{
    color: #ffffff;
    text-decoration: none;
	background: url(../img/divisor.png) no-repeat left center;
	display: block;
    font-size: 0.9em;
	padding: 0.5em 1.5em;;
	line-height: 2.1em;
}

#header ul a:hover {
        color: #69001d;
}

body.home #navegacao a#home,
body.brazil #navegacao a#brazil, 
body.fotos #navegacao a#fotos{
    color: #fff;
    background: #de003e;
    cursor: text;
}

/********************************************
...::: Menu lateral :::...
********************************************/
.lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    text-decoration: none;
}

.lateral ul a:hover{
    background: url(../img/marcador.png) no-repeat left center;
    padding-left: 20px;
	color: #a1a1a1;
}

/********************************************
...::: Formatação do Layout :::...
        Layout em 3 colunas
********************************************/
#conteudo {
    margin-top: 40px;
    background: #f5f5f5;
}

/* ...::: Lateral :::... */
.lateral{
   float: left;
   width: 180px;
   margin: 0 10px 0 0;
}

/* ...::: Principal :::... */
.principal{
    float: left;
    width: 300px;
    margin: 0 10px 0 0;
}

.destaque h3{
    background: #b10333;
    display: inline;
    color: #ffffff;
}

.entrevista h3{
    background: #b10333;
    display: inline;
}

img.img-principal {
	width: 98%;
	border: 3px solid #dfdfdf;
}

/* ...::: Secundario :::... */
.secundario{
    float: left;
    width: 300px;
}

/* ...::: Caixas de Conteúdo :::... */
.box{
    margin: 10px 0;
	padding: 5px;
	background: #f3f3f3 url(../img/fundo-caixa.png);
}

.box-content{
    background: #ffffff;
    margin-top: 5px;
}

/********************************************
...::: Lista de noticias :::...
********************************************/
.news-list h3{
    color: #3e7ab9;
    font-size: 0.8em;
	padding: 0;
}

.news-list li{
    padding: 2px;
    border-bottom: 1px solid #cccccc; 
	height: 62px;
}

.news-list p{
    font-size: 0.7em;
    color: #000000;
}

.news-list a{
    text-decoration: none;
}

.news-list li:hover{
    background: #eee;
	cursor: pointer;
}

.news-list img{
    float: left;
    margin: 5px;
}

/********************************************
...::: Formulario :::...
********************************************/

/********************************************
...::: Formatação do Rodapé:::...
********************************************/
#footer {
    clear: both;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 45px;
    background-color: #294c71;;
}

.FooterIcon{
    margin: 10px;
    text-decoration: none;
}

#footer p{
    color: white;
}

#dcbianchi {
    color: red;
    text-decoration: underline;
}